<div *ngIf="isLoading; else elseBlock">
  <div class="auth-loader-container">
    <app-loader></app-loader>
  </div>
</div>
<ng-template #elseBlock>
  <div class="margin-bottom-xs b-issues-list-sorting">
    <app-sorting [data]="issue"
                 [elements]="[
               {name: 'user_id', displayName: 'Usuario'},
               {name: 'title', displayName: 'Título'},
               {name: 'created_at', displayName: 'Creación'},
               {name: 'updated_at', displayName: 'Actualización'}
               ]" (sortedData)="setData($event)">
    </app-sorting>
  </div>

  <div class="b-issues-list">
    <h2>Issues</h2>
    <div class="b-issues" *ngFor="let issue of issues">
      <div class="b-issues__title-container">
        <a href="">
          <h3 class="b-issues__title">{{issue.title}}</h3>
        </a>
      </div>
      <div class="b-issues__description">
        {{issue.description}}
      </div>
      <div class="b-issues__actions">
        <a (click)="onDeleteIssues(issue)"><!-- De esta forma se crean los eventos en Angular-->
          <i class="fa fa-trash" aria-hidden="tue"></i>
        </a>
        <!--a (click)="onCreateIssues(issue)">
          <i class="fa fa-magic" aria-hidden="tue"></i>
        </a-->
      </div>


    </div>
  </div>
  <div class="clearfix"></div>
  <div class="row">
    <div class="col-md-2 col-md-offset-10 margin-top-sm">
      <div class="b-btn-new-issues overflow-hidden">
        <button class="btn btn-primary pull-right">
          Nuevo Issues
        </button>
      </div>
    </div>
  </div>
</ng-template>
