<!--The whole content below can be removed with the new code.-->
<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-xs-12"><!--centramos los elementos-->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>


